*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html{
  height: 100%;
  margin: 0;
  font-family: "verdana", sans-serif;
 background-color:black;
}

.container {
  height: 60px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  font-family: "helvetica", sans-serif;
   
  
}

.container .logo {
  max-width: 250px;
  padding: 0 100px;
  overflow: hidden;
  font-size: 20px;
  color: gold;
  background-color: black;
 text-decoration: none;

}

.container .logo a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 60px;
  font-size: 20px;
  color: gold;
  text-decoration: none;

}

.container .navbar {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 0 20px;
  background-color: black;
   font-weight: 100;

}

.container .navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

.container .navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
  font-weight: 100;
  z-index: 10;
  padding-left: 50px;
 padding-right: 50px;
}

.container .navbar ul li a:hover {
  color: white;
  background-color:#181818;
   border-radius: 10px;
    text-decoration: underline;
}

.container .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

#nav-lists{
    z-index: 10;
}

h1 {
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

/* three lines for nav list*/

.container .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

/* three lines for nav list*/

.container .navbar .icon-bar i {
  background-color: white;
  height: 2px;
  color white; 
}

.content {
    text-align: center;
    padding: 10px;
    margin-top: 50px;

}


img {
  border: 1px solid white;
}

.first  {
  text-align: center;
  width:1100px;
	height: 200px;
}

h2 {
	text-align: center;
  padding: 10px;
  line-height: 25px;
  font-family:"verdana", sans-serif;
	color: gold;
  padding-top: 40px;
  padding-bottom: 15px;
}

.subtitle {
  padding-top: 0px;
}

p {
    text-align: center;
    padding: 10px;
    color: dimgray;
    line-height: 25px;
     font-family: "Helvetica", sans-serif;
}

 .footer {
   position: fixed;
   padding: 15px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

/* media queries */
@media only screen and (max-width: 1600px) {

  .container {
    justify-content: space-between;
    background-color: black;
}

  .container .logo {
    flex: 1;
}

  .container .navbar {
    flex: 0;

}

  .container .navbar ul {
    background: black;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: left .3s;

}

  .container .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: white;
}

  .container .navbar ul .close {
    display: block;
}

  .container .navbar .icon-bar {
    display: flex;
}

  .container .navbar ._Menus-show {
    left: 0;
}

        .first {
   width:800px;
    
    }

    
}
    

@media only screen and (max-width: 900px) {
    .first {
   width:700px;
    
    }

    
    
}

@media only screen and (max-width: 700px) {
    .first {
   width:500px;
    
    }

    
    
}
    
    
@media only screen and (max-width:550px) {
    .first {
        width:400px;
    }

    
}
