*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html{
  height: 100%;
  margin: 0;
  font-family: "Garamond", serif;
}

.container {
  height: 60px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  font-family: Raleway, sans-serif;
  
}

.container .logo {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
  font-variant: small-caps;
  text-decoration: underline;
  font-size: 20px;
  color: gold;
  font-weight: 700;
 background-color: 	#202020;

}

.container .logo a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 60px;
  font-variant: small-caps;
  text-decoration: underline;
  font-size: 20px;
  color: gold;
}

.container .navbar {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 0 10px;
}

.container .navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container .navbar ul li a {
  text-decoration: none;
  color: #181818;
  font-size: 15px;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
  font-weight: 300;
  z-index: 10;
}

.container .navbar ul li a:hover {
  color: gold;
  background-color: grey;
}

.container .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

#nav-lists{
    z-index: 10;
}

/* three lines for nav list*/

.container .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

/* three lines for nav list*/

.container .navbar .icon-bar i {
  background-color: dimgray;
  height: 2px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../images/backgroundimg_ipad.jpg");
  opacity: 0.9;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h2{
 font-size: 40px;
 text-align: left;
    
}

.text{
  font-size:20px;
  font-family: Raleway, sans-serif;
  text-align: left;
  line-height: 40px;
  font-weight: 500;
}

em {
    color: gold;
}


.footer {
   position: fixed;
   padding: 8px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: gold;
   color: white;
   text-align: center;
}

.icon {
    width: 60px;
    height: 50px;
}





/* media queries */
@media only screen and (max-width: 900px) {

.hero-image {
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../images/backgroundimg_ipad.jpg");
  height: 100%;
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
    

  .container {
    justify-content: space-between;
}

  .container .logo {
    flex: 1;
}

  .container .navbar {
    flex: 0;
}

  .container .navbar ul {
    background: #ffffff;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: left .3s;
}

  .container .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
}

  .container .navbar ul .close {
    display: block;
}

  .container .navbar .icon-bar {
    display: flex;
}

  .container .navbar ._Menus-show {
    left: 0;
}
}

@media only screen and (max-width: 800px) {

.hero-image {
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../images/backgroundimg_ipad.jpg");
  height: 100%;
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 50px;
}
    
.hero-text {

  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h2{
 font-size: 20px;
 text-align: left;
    
}

.text{
  font-size:14px;
  font-family: Raleway, sans-serif;
  text-align: left;
  line-height: 30px;
}


  .container {
    justify-content: space-between;
}

  .container .logo {
    flex: 1;
}

  .container .navbar {
    flex: 0;
}

  .container .navbar ul {
    background: #ffffff;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: left .3s;
}

  .container .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
}

  .container .navbar ul .close {
    display: block;
}

  .container .navbar .icon-bar {
    display: flex;
}

  .container .navbar ._Menus-show {
    left: 0;
}
}




