*,
*::before,
*::after {
  box-sizing: border-box;
}


.container {
  height: 60px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  
}

.container .logo {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
  font-variant: small-caps;
  text-decoration: underline;
  font-size: 20px;
  color: gold;
  font-weight: 700;
  background: #202020;

}

.container .logo a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 60px;
  font-variant: small-caps;
  text-decoration: underline;
  font-size: 20px;
  color: gold;
}

.container .navbar {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 0 10px;
}

.container .navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container .navbar ul li a {
  text-decoration: none;
  color: #181818;
  font-size: 15px;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
  font-weight: 300;
}

.container .navbar ul li a:hover {
  color: gold;
  background-color: grey;
}

.container .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

/* three lines for nav list*/

.container .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

/* three lines for nav list*/

.container .navbar .icon-bar i {
  background-color: dimgray;
  height: 2px;
}

/* style for content */
h1{
    padding: 1em;
    text-align: center;
    font-family: Garamond, serif;
}
h2 {
    color: #181818;
    font-weight: 300;
}
.restpic {
           float: left;
           margin: 20px;
           width: 300px;
           height: 180px;
           
}
p {
           text-align: justify;
           font-size: 18px;
           line-height: 2em;
           font-family: "Raleway", sans-serif;
            font-weight: 200;
          
}



.restOne {
    padding: 2em;
}
.restTwo{
    padding: 2em;
}
.restThree{
    margin-top: 2em;
    padding:2em;
    margin-bottom: 200px;
}

.footer {
   position: fixed;
   padding: 8px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

.icon {
    width: 60px;
    height: 50px;
}



.footer {
   position: fixed;
   padding: 8px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

.icon {
    width: 60px;
    height: 50px;
}



/* media queries */



@media only screen and (max-width: 900px) {

  .container {
    justify-content: space-between;
}

  .container .logo {
    flex: 1;
}

  .container .navbar {
    flex: 0;
}

  .container .navbar ul {
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: left .3s;
}

  .container .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
}

  .container .navbar ul .close {
    display: block;
}

  .container .navbar .icon-bar {
    display: flex;
}

  .container .navbar ._Menus-show {
    left: 0;
}
}